<header class="header">Welcome to Pizza Order System</header>
<br />
{{ productsList[0].name }}

<div class="row row-cols-4 row-cols-md-4 g-4">
  <div class="col" *ngFor="let item of productsList">
    <div class="card" style="width: 18rem;">
      <img width="100%" height="180" src="item.imageUrl" />
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">{{ item.description }}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
